@model Blog.ViewModel.CreateCommentViewModel
@using Blog.Resources

@{ViewBag.Title += " - " + Res.AddComment;}

<br />
<br />

@using (Html.BeginForm("Create", "Comments")) {
    @Html.ValidationSummary(true)
    <div class="comment">
        <h6>@Res.AddComment</h6>
        
		<div class="editor-label">
            @Html.LabelFor(model => model.Comment.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment.Name)
            @Html.ValidationMessageFor(model => model.Comment.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment.Text)
            @Html.ValidationMessageFor(model => model.Comment.Text)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Comment.Posted)
            @Html.ValidationMessageFor(model => model.Comment.Posted)
        </div>

        @if (Model.CreateEntire == true) {
            @Html.DropDownListFor(model => model.Comment.PostId, Model.PossiblePosts.Select(post =>
                new SelectListItem {
                    Text = post.Title,
                    Value = post.Id.ToString()
                }))
        } else {
            <div class="editor-field">
                @Html.EditorFor(model => model.Comment.PostId)
            </div>
        }

        <p>
            <input type="submit" value="@Res.Create" />
        </p>
    </div>
}

<br />
<br />