@model Blog.Models.Comment
@using Blog.Resources

@{ViewBag.Title += " - " + Res.DeleteComment;}

<h2>@Res.ConfirmDeleteComment</h2>
<div class="comment">
    <h6>@Model.Name</h6>

    <div class="text">@Model.Text</div>

    @Res.Posted: <a href="../Details/@Model.Id">@String.Format("{0:g}", Model.Posted)</a>
    <br />
    <br />
    @Res.Post: <a href="../../Posts/Details/@Model.Post.Id">@(Model.Post.Title == null ? "None" : Model.Post.Title)</a>
    <br />
    <br />
</div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Res.Delete" /> |
        @Html.ActionLink(Res.Back, "Index")
    </p>
}