@model Blog.Models.Comment
@using Blog.Resources

@{ViewBag.Title += " - " + Res.CommentDetails;}

<div class="comment">
    <h6>@Model.Name </h6>

    @Model.Text
    <br />
    <br />

    @Res.Posted: @String.Format("{0:g}", Model.Posted)
    <br />
    <br />

    @Res.Post: <a href="../../Posts/Details/@Model.Post.Id">@Model.Post.Title</a>
    <br />
    <br />
</div>
<p>
    @Html.ActionLink(Res.Delete, "Delete", new { id = Model.Id }) |
    @Html.ActionLink(Res.Back, "Index")
</p>