@model IEnumerable<Blog.Models.Comment>
@using Blog.Resources

@{ViewBag.Title += " - " + Res.Comments;}

<a href="/Comments/Create">
    <h5>@Res.NewComment</h5>
</a>

<table>
    <tr>
        <th></th>
        <th>@Res.Name</th>
        <th>@Res.Content</th>
        <th>@Res.Posted</th>
        <th>@Res.Post</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(Res.Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(Res.Delete, "Delete", new { id=item.Id })
        </td>
        <td>@item.Name</td>
        <td>@item.Text</td>
        <td>@String.Format("{0:g}", item.Posted)</td>
        <td><a href="@Url.Action("Details", "Posts", new { id = item.PostId })">@(item.Post == null ? Res.None : item.Post.Title)</a></td>
    </tr>
}

</table>


@{if (ViewBag.HasPrevious) {
    <div class="previous">
        @Html.ActionLink("<< " + Res.PreviousComments, "Index", new { page = (ViewBag.PreviousPage) })
    </div>
  }
}
     
@{if (ViewBag.HasMore) {
      if (ViewBag.CurrentPage == 2) {
        <div class="next">
            @Html.ActionLink(Res.NextComments + " >>", "Index")
        </div>
      } else {
        <div class="next">
            @Html.ActionLink(Res.NextComments + " >>", "Index", new { page = (ViewBag.FuturPage) })
        </div>
      }
  }
}