@model Blog.Models.Post
@using Blog.Resources

@{ViewBag.Title += " - " + Res.CreatingPost;}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <article>
        <h3>@Res.NewPost</h3>
        <div class="clear"></div>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="@Res.Create" />
        </p>
    </article>
}

<div>
    @Html.ActionLink(Res.Back, "Index")
</div>