@model Blog.Models.Post
@using Blog.Resources

@{ViewBag.Title += " - " + Res.Delete + " " + Model.Title;}

<h2>@Res.ConfirmDeletePost</h2>
<article>
    <h3>@Model.Title</h3>

    <div class="clear"></div>

    <div class="text">@Model.Text</div>
    <br />

    @Res.Posted: <a href="../Details/@Model.Id">@String.Format("{0:g}", Model.Posted)</a>
    |
    <a href="../Details/@Model.Id">@(Model.Comments == null ? "None" : Model.Comments.Count.ToString()) @Res.Comments</a>
</article>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Res.Delete" /> |
        @Html.ActionLink(Res.Back, "Index")
    </p>
}