@model Blog.Models.Post
@using Blog.Resources

@{ViewBag.Title += " - " + Res.Edit + " " + Model.Title;}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <article>
        <h3>@Res.Edit @Model.Title</h3>
        <div class="clear"></div>

        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="@Res.Save" />
        </p>
    </article>
}

<div>
    @Html.ActionLink(Res.Back, "Index")
</div>