@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Text
        </th>
        <th>
            Posted
        </th>
        <th>
            Comments
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@item.Text
        </td>
        <td>
			@String.Format("{0:g}", item.Posted)
        </td>
        <td>
			@(item.Comments == null ? "None" : item.Comments.Count.ToString())
        </td>
    </tr>
}

</table>


