@model Blog.Models.Personal
@using Blog.Resources

@{ViewBag.Title += " - " + Res.Details;}

<article>
    <h3>@Model.Firstname @Model.Lastname</h3>

    <div class="clear"></div>

    <span class="bold">@Res.Title:</span> @Model.Title
    <br />
    <br />
	<span class="bold">@Res.Description:</span> @Model.Description
</article>
<p>
    @Html.ActionLink(Res.Edit, "Edit", new { id=Model.Id }) |
    @Html.ActionLink(Res.Back, "Index")
</p>