@model Blog.Models.Personal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Personal</legend>

    <div class="display-label">Firstname</div>
    <div class="display-field">@Model.Firstname</div>

    <div class="display-label">Lastname</div>
    <div class="display-field">@Model.Lastname</div>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


