@model Blog.Models.Personal
@using Blog.Resources

@{ViewBag.Title += " - " + Res.Edit;}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <article>
        <h3>@Res.Edit @Model.Firstname @Model.Lastname</h3>

        <div class="clear"></div>

        @Html.HiddenFor(model => model.Id)

		<div class="editor-label">
            @Html.LabelFor(model => model.Firstname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Firstname)
            @Html.ValidationMessageFor(model => model.Firstname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lastname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lastname)
            @Html.ValidationMessageFor(model => model.Lastname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="@Res.Save" />
        </p>
    </article>
}

<div>
    @Html.ActionLink(Res.Back, "Index")
</div>