@model IEnumerable<Blog.Models.Personal>
@using Blog.Resources

@{ViewBag.Title += " - " + Res.Personal;}

@foreach (var item in Model) {
    <article>
        <h3>@item.Firstname @item.Lastname</h3>

        <div class="modifications">
            @Html.ActionLink(Res.Edit, "Edit", new { id=item.Id }) 
    
            @Html.ActionLink(Res.Details, "Details", new { id=item.Id })
        </div>
        <div class="clear"></div>

        <span class="bold">@Res.Title:</span> @item.Title
        <br />
        <br />
	    <span class="bold">@Res.Description:</span> @item.Description
    </article>
}